

body{
  font-family: "Arial, sans-serif";
  line-height: 1.6;
  height: 100vh;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 1.5rem;
}

.scale-labels{
  width: 75%;
  margin: 0 auto;
}

.scale-legend {
  display: flex;
  gap: 0.5rem;
  /* flex-wrap: wrap; */
  width: 100%;
  align-items:center;
  justify-content: center;
}

.scale-legend label {
  text-align:center;
  font-size: 0.875rem;
}

.scale {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.scale label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
}
.question-text {
  font-weight: bold;
}
/* fieldset {
  border: none;
  padding: 0;
} */
legend {
  font-weight: bold;
}