

body{
  font-family: "Arial, sans-serif";
  line-height: 1.6;
  height: 100vh;
  padding: 1rem;
}

.job-survey-container{
  width: 80%;
  margin: 2rem auto;
  color:#4e4e4e;
}

h4 {
  text-align: center;
}
/* 
.question {
  margin-bottom: 1.5rem;
} */

.scale-labels{
  max-width: 900px;
  margin: 0 auto;
}

.scale-legend {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.scale-legend label {
  text-align:center;
  font-size: 0.875rem;
}

.scale {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.scale label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
}
.question-text {
  font-weight: bold;
}
/* fieldset {
  border: none;
  padding: 0;
} */
legend {
  font-weight: bold;
}

input:checked{
  accent-color: #2d728f;
}

button.survey-prev, button.survey-next {
  background-color: #407C96;
  margin-top: 1.6rem;
  padding: 0.75rem 2rem;
  font-size: 100%;
  font-style: bold;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid #cbd5e0;
  transition: all .2s ease-in;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.06),0 1px 2px 0 rgba(0,0,0,0.06);
}

button.survey-prev{
  background-color: #e1e1e1;
  color: #4e4e4e;
}

button.survey-prev:hover{
  background-color: #d0d0d0;
}

button.survey-next:hover{
  background-color: #245b72;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.question-block {
  margin-bottom: 1.5rem;
}